<h1 class="form-signin-heading">Register</h1>
<form #registerForm="ngForm" class="form-signin" (ngSubmit)="registerUser(); registerForm.reset()">
    <div class="form-group">
	    <label for="firstName" class="sr-only">Enter Your first name</label>
	    <input 
	    	type="text" 
	    	id="inputFirstName" 
	    	class="form-control" 
	    	placeholder="First Name" 
	    	name="firstName"
            #firstName="ngModel"
	    	[(ngModel)]="user.firstName"
	    	required>
    	<div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
            <div *ngIf="firstName.errors.required">
                First name is required.
            </div>
        </div>
    </div>

    <div class="form-group">
	    <label for="lastName" class="sr-only">Enter Your last name</label>
	    <input 
	    	type="text" 
	    	id="inputLastName" 
	    	class="form-control" 
	    	placeholder="Last Name" 
	    	name="lastName"
	    	[(ngModel)]="user.lastName"
	    	#lastName="ngModel"
	    	required>
    	<div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
            <div *ngIf="lastName.errors.required">
                Last name is required.
            </div>
        </div>
    </div>

    <div class="form-group">
	    <label for="inputEmail" class="sr-only">Email address</label>
	    <input 
	    	type="email" 
	    	class="form-control" 
	    	placeholder="Email address" 
	    	name="email"
	    	[(ngModel)]="user.email"
	    	#email="ngModel"
	    	required>
    	<div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors.required">
                Email is required.
            </div>  
        </div>
    </div>

    <div class="form-group">
	    <label for="inputPassword" class="sr-only">Password</label>
	    <input 
	    	type="password" 
	    	class="form-control" 
	    	placeholder="Password" 
	    	name="password"
	    	[(ngModel)]="user.password"
	    	#password="ngModel"
	    	required pattern="(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">
    	<div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
            <div *ngIf="password.errors.required">
                Password is required.
            </div>
            <!-- <div *ngIf="password.errors.minlength">
                Password must be at least 8 characters long and contain at least one digit.
            </div> -->
            <div *ngIf="password.errors.pattern">
                Password must contain at least one digit and be at least 8 characters long.
            </div>
        </div>
	</div>

    <div class="form-group">
        <label for="inputPasswordConfirm" class="sr-only">Confirm password</label>
        <input 
            type="password" 
            class="form-control" 
            placeholder="Confirm Your password" 
            name="passwordConfirm"
            [(ngModel)]="user.passwordConfirm"
            #passwordConfirm="ngModel"
            required
            [equalTo]="password">
        <div *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched)" class="alert alert-danger">
            <div *ngIf="passwordConfirm.errors.required">
                Confirmation is required.
            </div>
            <div *ngIf="passwordConfirm.errors.equalTo">
                Password mismatch.
            </div>
       
        </div>
    </div>

    <div class="form-group">
    	<label>I accept terms and conditions:</label>
    	<input 
    		type="checkbox" 
    		name="acceptedTerms"
    		[(ngModel)]="user.acceptedTerms"
    		#acceptedTerms="ngModel"
    		value="false" 
    		class="form-control">
			Yes
        <div *ngIf="acceptedTerms.invalid" class="alert alert-danger">
            <div *ngIf="acceptedTerms.errors.required">
                Accepting terms is required.
            </div>
        </div>
    </div>
    <button 
    	[disabled]="registerForm.invalid" 
    	class="btn btn-lg btn-primary btn-block" 
    	type="submit">
    	Register
    </button>
</form>
