<div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
        <!-- <img class="d-block img-fluid" src="..." alt="First slide"> -->
		<span>Gallery name: {{ gallery.name}}</span><br>
		<span>Gallery ID: {{ gallery.id}}</span><br>
		<span>Author ID: {{ gallery.userId }}</span>
		<span>Created at: {{ gallery.createdAt}}</span><br>
    </div>
</div>
<hr>
		<!-- <button type="submit" class="btn btn-primary" (click)="selectMovie(true)" [disabled]="selected">Select</button> -->
